---
layout: default
title: "Trianam's notes"
---
<div class="introduction">
  <blockquote>&ldquo;The original question, &apos;Can machines
  think?&apos; I believe to be too meaningless to deserve
    discussion.&rdquo; <br> &#8213; Alan Turing</blockquote>
  <br>
  <h1>Hello,</h1>
  <p>I want to present here some notes on my journey through the world
  of machine learning and artificial intelligence. I'll try to keep
  the notes ordered in a table of contents. Thank you for the visit.</p>
</div>

<hr>

<div class="toc">
  {% assign collections = site.collections | sort: "weight" %}
  {% for col in collections %}
    <h2>{{ col.title }}</h2>
    <ul>
    {% for ident in col.order %}
        {% assign item = site.documents | where: "id", ident | first %}
        <li>
        <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
        </a>
        </li>
    {% endfor %}
    </ul>
  {% endfor %}
</div>

